name: R-CMD-check

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  R-CMD-check:
    runs-on: ubuntu-latest

    name: R CMD check (Linux)

    steps:
      - uses: actions/checkout@v3

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgmp-dev libcln-dev libginac-dev pkg-config

      - name: Set up dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
  with:
    needs: check
    extra-packages: |
      any::devtools
      any::testthat
      any::roxygen2
      any::ggplot2
      any::truncdist
      any::rmarkdown
      any::knitr
      any::covr

      - name: Run R CMD check
        uses: r-lib/actions/check-r-package@v2

      - name: Test coverage
        run: covr::codecov()
        shell: Rscript {0}
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
